@function toRem($pixel) {
   @return #{$pixel / 16}em;
}

%box-shadow {
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15),
      0 8px 8px rgba(0, 0, 0, 0.15);
}

.title__wrapper {
   border: 1px solid black;
   background-color: #ffb5b5;
   height: toRem(32);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 toRem(16);
}

.expand__editor {
   width: 92%;
}

.editor {
   @extend %box-shadow;

   margin: toRem(32) auto 0;

   &--expand {
      width: 92%;
   }

   &--compress {
      width: 50%;
   }
}

.icon__fcc {
   width: toRem(19);
   margin-right: 8px;
   position: relative;
   top: 3px;
}

.icon__expand,
.icon__compress {
   width: toRem(16);
   height: toRem(16);
   cursor: pointer;
}

.editor__text-area {
   border: 1px solid black;
   width: 100%;
   padding: 0 8px;

   &--expand {
      resize: none;
   }

   &--compress {
      resize: vertical;
      min-height: toRem(192);
   }
}

.preview {
   @extend %box-shadow;

   width: 80vw;
   margin: toRem(32) auto;
}

.preview__markdown {
   background-color: white;
   border: 1px solid black;
   padding: 0 8px;
}

// table styling
// copied from https://github.com/pure-css/pure/blob/master/src/tables/css/tables.css
caption {
   color: #000;
   font: italic 85%/1 arial, sans-serif;
   padding: 1em 0;
   text-align: center;
}

td,
th {
   border-left: 1px solid #cbcbcb; /*  inner column border */
   border-width: 0 0 0 1px;
   font-size: inherit;
   margin: 0;
   overflow: visible; /*to make ths where the title is really long work*/
   padding: 0.5em 1em; /* cell padding */
}

thead {
   background-color: #e0e0e0;
   color: #000;
   text-align: left;
   vertical-align: bottom;
}
